#header {
  display: flex;
  height: 10vh;
  width: 100vw;
  background-color: rgb(43, 1, 43);
  justify-content: center;
  align-items: center;
  position: relative;
}
#header p {
  color: white;
  font-size: 1.5rem;
}
img {
  height: 8vh;
  border-radius: 20px;
  position: absolute;
  left: 5vw;
}
@media screen and (max-width: 768px) {
  img {
    height: 6vh;
  }
  #header {
    height: 9vh;
  }
}
@media screen and (max-width: 320px) {
  img {
    height: 5vh;
  }
  #header {
    height: 8vh;
  }
}
